* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #eee;
}

.landing-subheader {
  text-align: center;
  margin-top: 25%;
}

.landing-page-wrapper {
  background-image: url("../../assets/pexels.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
